*
{
	margin:0px;
	padding:0px;
}
body
{
	background: url(../images/background.png);
    font-family: "Times New Roman", Times, serif;
}
.card
{
	margin-top:30px;
	box-shadow: 0px 0px 12px #898787;
}
.container
{
	width: 75% !important;
}
.card-header
{
	background: #fff;
	font-size: 36px;
	font-weight: bold;
	padding:25px 10px;
	color:#f21c0c;
	margin-left: 0px;
}
.card-body
{

	padding: 0px;
}
/*.slider
{
}*/
.slide
{
    /* The image used */
    background-image: url("../images/banner2.jpg");
    height: 500px;
    /*width:800px;*/
    /*background: #414141;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-curtain{
  height:500px;
  background:rgba(29, 28, 28, 0.61);
}
.fronttext
{
	text-align: center;
	margin: auto;
	color: #fff;
	font-style: algerian;
	font-size:65px;
	width: 70%;
	height: 500px;
	padding-top: 75px;

}
.button
{
	width: 50%;
	height: 200px;
}
.color1
{
background: #fb9438;
}
.color2
{
background: #d0463b;
}
.color3
{
background: #bb3540;
}
h3
{
	color:#fff !important;
	padding: 50px 10px 20px 10px;
}
.title
{
width:60%;
height:5px;
background: #fff;
}
.log
{
	width: 60%;
	height:100px;
}

.center{
	text-align: center;
}
.footerup{
	
	background-color: #b1afaf;
	height: 150px;
}


#reg-align {
    margin-left: 33%;
	margin-top: 5%;
 }

#but-align {
	
	margin-left: 20%;
	
 }

.copy{
	background-color:#6c6c6c;
	text-align: center;


	}
.color4{
	background-color: #b1afaf;
	color: #ffffff;

}

.icon{
	height: 78px;
	width: 78px;

}